@-ms-viewport{
    width: device-width;
  }

@keyframes navigation_hover{
from{
    background-color: #17252A;
    color: #FEFFFF;
        
    }

to{
    background-color:black;
    color: #C3073f;
        
    }
}


html{
    height: 100%;
}

body{
    background: url('img/background_image.jpeg');
    background-color: black;
    background-repeat: no-repeat;
    margin: 0 auto;
    height: 100%;
    z-index: 0;
    position: relative;
}

a{
    text-decoration: none;
    color: #FEFFFF;
}

h1{
    text-align: center;
    font-family: 'Indie Flower', cursive;
}


/******* NAVIGATION CODE BEGINS*******/

.social_media_icons{
    color: #C3073f;
}

.social_media_icons:hover{
    color: rgb(121, 0, 36);
    transition: .3s;
}


#header{
    display: block;
    min-height: 100%;
    width: 300px;
    
    background-color: rgb(11, 18, 20);
    opacity: .95;
    border-right: 1px solid rgb(39, 64, 73);
    float: left;
    position: absolute;
}

#nav_icon{
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
    padding: 30px;
    border-radius: 50%;
    }

#logo_nav{
    color: #FEFFFF;
    font-family: 'Cedarville Cursive', cursive;
    text-align: center;
    font-size: 40px;
    margin: 0;
}

#logo_nav:hover{
    font-weight: bolder;
}

#nav_ul{
    color: #FEFFFF;
    list-style-type: none;
    padding: 0;
}

.nav_li_social_media{
    display: hidden;
}

.nav_li{
    font-family: 'Indie Flower', cursive;
    letter-spacing: 4px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 30px;
    width: 100%;
    height:100%;
}


.nav_li:hover{
    animation-name: navigation_hover;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
}


.menu_toggle{
    color: white;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

@media(max-width: 991px){
    #header{
        width: 100%;
        min-height: 100px;
    }

    #nav_icon{
        display: none;
    }

    #logo_nav{
        float: left;
        padding-left: 25px;
        display: block;
    }

    #social_media{
        font-size: 48px;
    }

    #nav_ul{
        margin: 0;
        display: absolute;
      
    }
    
    .nav_li{
    display: none;
    top: 50px;
    background: rgb(11, 18, 20);
    border-bottom: .5px solid black;
    transition: .3s;
    
    }

    .nav_li.active{
        display: inline-block;
        transition: .5s;
    }

    .menu_toggle{
        display: block;
        padding-right: 25px;
        margin-top: 20px;
    }
}

/*********** NAVIGATION ENDS RIGHT HERE ****************/

#container_home{
    display: block;
    position: static;
    float: right;
    margin-top: 75px;
    padding: 0 auto;
    width: 100%;
    height: 85%;
    background: black;
    overflow: hidden;
}

#container_content{
    display: block;
    background-color: rgb(11, 18, 20);
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    width: 85%;
    height: 95%;
    border-radius: 5px;
    overflow: scroll;
}

@media(max-width: 2188px){
    #container_content{
        width: 83%;
    }
}

@media(max-width: 1833px){
    #container_content{
        width: 80%;
    }
}

@media(max-width: 1613px){
    #container_content{
        width: 78%;
    }
}

@media(max-width: 1471px){
    #container_content{
        width: 76%;
    }
}

@media(max-width: 1300px){
    #container_content{
        width: 73%;
    }
}

@media(max-width: 1200px){
    #container_content{
        width: 71%;
    }
}

@media(max-width: 1125px){
    #container_content{
        width: 69%;
    }
}

@media(max-width: 991px){
    #container_content{
        margin: 0 auto;
        float: none;
        margin-top: 25px;
        border-radius: 0px 0px 5px 5px;
        width: 90%;
    }

    #container_home{
        margin-top: 100px;
    }

    p.webpage_text{
       font-size: 16px;
       margin: 0;
       padding: 0 25px 0 25px;

    }

    p{
        margin: 0;
        margin-bottom: 25px;
        margin-top: 10px;
    }

    #portfolio{
        height: 7000px;
    }

}

#home{
    height: 1000px;
    width: 95%;
    background-color: black;
    margin: 0 auto;
    margin-top: 10px;
    padding-top: 5px;
    text-align: center;
    color: white;
    font-size: 48px;
    font-family: 'Indie Flower', cursive;
    border-radius: 5px;
}

.webpage_text{
    font-size: 24px;
    padding: 25px;
}

/************ ABOUT ***************/


#about{
    height: 3300px;
    width: 95%;
    background-color: black;
    margin: 0 auto;
    margin-top: 10px;
    padding-top: 5px;
    text-align: center;
    color: white;
    font-size: 48px;
    font-family: 'Indie Flower', cursive;
    border-radius: 5px;

}

@media(max-width: 600px){
    #about{
        height: 2500px;
    }
}



#about_container{
    background-color: black;
    width: 95%;
    height: 80%;
    margin: 0 auto;
    border-radius: 20px;
}

#slider{
    width: 100%;
    background-color: black;
    position: relative;
    margin: 0 auto;
    
}

#box{
    width: 100%;
    height: 100%;
}

#box img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

#slider button{
    display: block;
    background-color: white;
    position: absolute;
    top: 40%;
    height: 10%;
    width: 10%;
    cursor: pointer;
    opacity: .5;
}

#forward{
    margin-left: 90%;
}

#about_text_header{
    width: 100%;
    height: 100px;
    background-color: black;
    color: #C3073f;
    padding-top: 10px;
}

#about_text_content{
    width: 100%;
    font-size: 24px;
    background-color: black;
    color: #C3073f;
    margin-top: 10px;
}

#about_container table{
    margin: 0 auto;
    margin: 0x 5px 0px 5px;
}

#about_container table ul li{
    list-style-type: none;
}

.about_table{
    
    background-color: black;
    width: 400px;
    height: 400px;
    padding: 0;
}

/*********** END ABOUT **************/

/*********** PORTFOLIO **************/

#portfolio{
    height: 2700px;
    width: 95%;
    background-color: black;
    margin: 0 auto;
    margin-top: 10px;
    padding-top: 5px;
    text-align: center;
    color: white;
    font-size: 48px;
    font-family: 'Indie Flower', cursive;
    border-radius: 5px;
}

@media(max-width: 991px){
    #portfolio{
        height: 6200px;
    }

}

#portfolio_container{
    background-color: rgb(11, 18, 20);
    width: 95%;
    height: 90%;
    margin: 0 auto;
    border-radius: 20px;
    
}

.webpage_text_portfolio{
    font-size: 20px;
    padding: 25px;
}

#portfolio_table{
    margin: 0 auto;
    width: 100%;
}

#portfolio_table_mobile{
    margin: 0 auto;
    width: 100%;
    display: none;
}

.portfolio_gif{
    /*height: 75%;*/
    padding: 0;
    width: 75%;
    border-radius: 5px;
    /*margin-top: 15px;*/
    border: 1px solid #C3073f;
}

#google_portfolio{
    padding: 0;
}

.gif_text{
    font-size: 36px;
    margin: 0 auto;
}

a:hover{
    color: #C3073f;
    font-size: 36px;
    margin: 0 auto;
}

.gif_subtext{
    font-size: 20px;
    color: #C3073f;
    
}

td{
    /*border: 1px solid #C3073f;*/
    background-color: black;
    width: 50%;
    padding: 0;
   
}

@media(max-width: 700px){
    #portfolio_table{
        display: none;
    }

    #portfolio_table_mobile{
        margin: 0 auto;
        width: 100%;
        display: block;
    }
    #portfolio_table_mobile img{
        height: 75%;
        width: 75%;
        border-radius: 5px;
        margin-top: 15px;
        border: 1px solid #C3073f;
    }
    
    #portfolio_table_mobile .gif_text{
        font-size: 36px;
        margin: 0 auto;
    }
}

/****************** END PORTFOLIO ***************/


/******* MUSIC PROJECTS **********/

#music_projects{
    height: 1000px;
    width: 95%;
    background-color: black;
    margin: 0 auto;
    margin-top: 10px;
    padding-top: 5px;
    text-align: center;
    color: white;
    font-size: 48px;
    font-family: 'Indie Flower', cursive;
    border-radius: 5px;
    overflow: scroll;
}


#music_container{
    background-color: black;
    width: 95%;
    height: 100%;
    margin: 0 auto;
    display: block;
    border-radius: 20px;
}

#music_logo_container{
    display: block;
    width: 100%;
    height: 200px;
    border-radius: 5px 5px 0 0 ;
    background-color: #C3073f;
    border-bottom: 2px solid black;
}

#music_logo_container ul{
    display: block;
    padding: 0;
    margin: 0;
}

#music_logo_container ul li{
    list-style-type: none;
    display: inline;
    margin-right: 5px;
}

#menu_toggle_music{
    float: right;
    color: black;
    margin-right: 10px;
    display: none;
}

ul li img{
    padding-top: 50px;
    height: 130px;
    width: 130px;
    margin: 0 auto;
    margin-left: 35px;
    margin-right: 35px;
    position: relative; 
}

#music_container_text{
    width: 100%;
    text-align: center;
    /*background: white;*/
    color: #C3073f;
    font-size: 36px;
}



.run_around_records{
    width: 180px;
    }

@media(max-width: 1133px){
    ul li img{
       margin: 0 auto;
       margin-left: 20px;
       margin-right: 20px;
       height: 115px;
       width: 115px;
    }

    .run_around_records{
        width: 145px;
    }
}

@media(max-width: 702px){
    ul li img{
        margin-left: 10px;
        margin-right: 10px;
        height: 95px;
        width: 95px;
    }
    
    .run_around_records{
        width: 115px;
    }

    .menu_icon_div{
        background-color: yellow;
    }
}

@media(max-width: 587px){
    ul li img{
        margin-left: 5px;
        margin-right: 5px;
        height: 75px;
        width: 75px;
    }
    
    .run_around_records{
        width: 105px;
    }

    #about_text_header{
        width: 100%;
        height: 100px;
        background-color: black;
        color: #C3073f;
        padding-top: 10px;
        font-size: 24px;
    }

    #about_text_content{
        width: 100%;
        height: 100%;
        font-size: 12px;
        background-color: black;
        color: #C3073f;
        margin-top: 10px;
    }
}

@media(max-width: 414px){
    ul li img{
        margin-left: 1px;
        margin-right: 1px;
        height: 70px;
        width: 70px;
    }
    
    .run_around_records{
        width: 90px;
    }

    #about_text_header{
        width: 100%;
        height: 100px;
        background-color: black;
        color: #C3073f;
        padding-top: 10px;
        font-size: 24px;
    }

    #about_text_content{
        width: 100%;
        height: 100%;
        font-size: 12px;
        background-color: black;
        color: #C3073f;
        margin-top: 10px;
    }

}

@media(max-width: 376px){
    ul li img{
        margin: 0;
        height: 65px;
        width: 65px;
    }
    
    .run_around_records{
        width: 95px;
    }
}

@media(max-width: 361px){
    ul li img{
        margin: 0;
        height: 60px;
        width: 60px;
    }
    
    .run_around_records{
        width: 90px;
    }
}

@media(max-width: 320px){
    ul li img{
        margin: 0;
        height: 50px;
        width: 50px;
    }
    
    .run_around_records{
        width: 80px;
    }
}

/********* END MUSIC PROJECTS ************/


/********* CONTACT FORM *****************/

#contact{
    height: 1000px;
    width: 95%;
    background-color: black;
    margin: 0 auto;
    margin-top: 10px;
    padding-top: 5px;
    text-align: center;
    color: white;
    font-size: 48px;
    font-family: 'Indie Flower', cursive;
    border-radius: 5px;
}

#contact_form{
    width: 80%;
    height: 80%;
    margin: 0 auto;
    background-color: rgb(11, 18, 20);
    border-radius: 5px;

}

input{
    display: block;
    margin: 0 auto;
    width: 200px;
    text-align: center;
    font-size: 16px;
}

textarea{
    width: 80%;
    height: 200px;
    display: block;
    margin: 0 auto;
    font-size: 24px;
    padding-bottom: 5px;
    border-radius: 5px;
    text-align: center;
    padding-top: 15px;
}


button{
    height: 50px;
    width: 200px;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    border-radius: 5px;
    font-size: 24px;
    font-family: 'Indie Flower', cursive;
}

button:hover{
    background-color: black;
    color: #C3073f;
}