@-ms-viewport{
    width: device-width;
  }

html{
    height: 100%;
    width: 100%;
}

head{
    height: 100%;
}

body{
    background: url('img/background_image.jpeg');
    /*background-color: black;*/
    background-repeat: no-repeat;
    margin: 0 auto;
    height: 100%;
}

#header{
    min-height: 100%;
    width: 300px;
    background-color: #17252A;
    opacity: .95;
    border-right: 1px solid rgb(39, 64, 73);
    
}

#nav_icon{
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
    padding: 30px;
    border-radius: 50%;
    }

    #logo_nav{
        color: #FEFFFF;
        font-family: 'Cedarville Cursive', cursive;
        text-align: center;
        font-size: 40px;
        margin: 0;
    }
    #social_media_webpage{
        font-size: 36px;
        text-align: center;
        margin-top: 25px;
        word-spacing: 15px;
        color: #FEFFFF;
    }

    #nav_ul{
        color: #FEFFFF;
        list-style-type: none;
        padding: 0;
    }

    .nav_li_social_media{
        display: hidden;
    }

    .nav_li{
        font-family: 'Indie Flower', cursive;
        letter-spacing: 4px;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 30px;
        width: 100%;
        height:100%;
    }


    @keyframes navigation_hover{
        from{
            background-color: #17252A;
            color: #FEFFFF;
            
        }

        to{
            background-color:black;
            color: #C3073f;
            
        }
    }

    .nav_li:hover{
       animation-name: navigation_hover;
       animation-duration: 1000ms;
       animation-fill-mode: forwards;
    }

    .menu_toggle{
        color: white;
        float: right;
        line-height: 50px;
        font-size: 24px;
        cursor: pointer;
        display: none;
    }

    @media(max-width: 991px){
        #header{
            width: 100%;
            height: 100px;
        }

        #nav_icon{
            display: none;
        }

        #logo_nav{
            float: left;
            padding-left: 25px;
            display: block;
        }

        #social_media_webpage{
            display: none;
        }

        #nav_ul{
            margin: 0;
          
        }

        .nav_li{
        display: none;
        top: 50px;
        background: #17252A;
        border-bottom: .5px solid black;
        transition: .3s;
        
        }

        .nav_li.active{
            display: inline-block;
            transition: .5s;
        }

        .menu_toggle{
            display: block;
            padding-right: 25px;
            margin-top: 20px;
        }
    }